<%= form_for @picture, :html => {:multipart => true, :id => "file_upload"} do |f| %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@picture.errors.count, "error") %> prohibited this picture from being saved:</h2>

      <ul>
      <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

  <% if @picture.file? %>
    <fieldset>
      <legend>Picture</legend>
      <p>
        <%= image_tag(@picture.file_url(:medium)) %>
        <% unless @picture.new_record? %>
          <%= f.check_box :remove_file %>
          <%= f.label :remove_file, "remove file" %>
        <% end %>
      </p>
    </fieldset>
  <% end %>

  <div id="file_upload_container">
    <%= f.label :file%>
    <%= f.file_field :file %>
    <!-- <button>Upload</button>
    <div>Start uploads</div> -->
  </div>
  
  <%= f.submit "Create" %>
<% end %>

<table id="files"></table>
